table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 0.2em;
}
table, th, td {
   /* border: solid 1px #444;*/
   padding: 0 !important;
   text-align: center !important;
}
tr {
  border: none !important;
}

h1, h5, h6 {
  margin: 0 !important;
  font-weight: 700 !important;
}
.h1 {
  font-size: 1.7em;
  font-weight: 700;
}
.h5 {
  font-size: 1.1em;
  font-weight: 700; 
}
.btn-small {
  height: 20px !important;
  line-height: 20px !important;
}

#table1_ th, #table1_ td {
  border: solid 1px #444;
  text-transform: uppercase;
}

.rec {
  background-color: #b8d7fa;
}
.hoj {
  background-color: #4b9fff;
  color: #fff;
}
.pre {
  background-color: #735cf8;
  color: #fff;
}
.pin {
  background-color: #fa81f4;
}
.pul {
  background-color: #fd4343;
  color: #fff;
}
.arm {
  background-color: #fa5931;
  color: #fff;
}
.lim {
  background-color: #f8f53f;
}
.ter {
  background-color: #3eff6f;
}
.sta {
  background-color: #535455;
  color: #fff;
}

th {
    background: #444;
    color: white;
}
input[type=text], input[type=number], input[type=date], textarea {
    width: 100%;
    text-align: center;
    border: none;
    margin: 0 !important;
    height: auto !important;
    font-size: 1.2em;
    line-height: auto;
}

textarea {
  resize: none;
  overflow: hidden;
 
}

.gauge_{
    /* margin-top: 0;
    margin-left: 5mm; */
    width: 110px;  /*150*/
    /* margin-right: 0 !important; */
    margin: 0 auto;
  }
  .sign{
    align-content: center;
    margin-left: 2cm;    
    width: 250px;
  }

  .sedand {
    background-image: url('../../../assets/auto1.png');
  }
  .sedani {
    background-image: url('../../../assets/auto3.png');
  }
  .sedanf {
    background-image: url('../../../assets/auto4.png');
  }
  .sedana {
    background-image: url('../../../assets/auto2.png');
  }
  .pickupd {
    background-image: url('../../../assets/pickup4.png');
  }
  .pickupi {
    background-image: url('../../../assets/pickup3.png');
  }
  .pickupf {
    background-image: url('../../../assets/pickup1.png');
  }
  .pickupa {
    background-image: url('../../../assets/pickup2.png');
  }
  .suvd {
    background-image: url('../../../assets/suv4.png');
  }
  .suvi {
    background-image: url('../../../assets/suv3.png');
  }
  .suvf {
    background-image: url('../../../assets/suv1.png');
  }
  .suva {
    background-image: url('../../../assets/suv2.png');
  }


  #sig1 {
  /*  background-image: url('../../../assets/right.jpg');*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig2 {
    /* background-image: url('../../../assets/front.jpg'); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig3 {
    /* background-image: url('../../../assets/back.jpg'); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #sig4 {
    /* background-image: url('../../../assets/left.jpg'); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  input[type=radio] {
    border: 1px solid var(--head-color);
   /* padding: 0.5em;*/
   padding: 0.4em;
    -webkit-appearance: none;
    margin-left: 4mm;
    margin-top: 1mm;
  }
  input[type=radio]:checked {
    background: var(--head-color);
   /* background-size: 6px 8px;**/
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }

  input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ddd;
  border-radius: 25px;
  box-shadow: 0 0 0 1px #ddd;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 2px #B2B2B2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #ccc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ddd;

}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 2px #B2B2B2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #ccc;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #ddd;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 30px;
  width: 30px;
  top: 5px;
  position: relative;
  background: #ccc;
  cursor: pointer;
  box-shadow: 0 0 2px #B2B2B2;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ddd;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ddd;
}

input[type=checkbox], input[type=radio] {
  border: 1px solid #444 !important;
 /* padding: 0.5em;*/
 padding: 0.4em !important;
 max-width: 3mm !important;
  -webkit-appearance: none !important;
  margin-left: 1mm !important;
  margin-right: 1mm !important;
  margin-top: 0.5mm !important;
  opacity: 1 !important;
  position: relative !important;
  font-size: 1.3em;
  pointer-events: all;
}
input[type=checkbox]:checked ,input[type=radio]:checked{
  background: #444 !important;
 /* background-size: 6px 8px;**/
}

input[type=checkbox]:focus,input[type=radio]:focus {
  outline-color: transparent !important;
}

.section6 .td:nth-child(1),
.section6 .td:nth-child(2){
  width: 50%;
  text-align: center;
}
.section6 .td{
  border: 1px solid #bbb;
}
.image-container input {opacity: 0;}
.image-container {
/* background-position: center 3mm; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: 100%;
/*border-radius: 50%;*/
border: 1px solid #fff;
}
.image-container img{
height: 5cm;
max-width: 100%;
}
#txa {
background: none;
border: none;
resize: none;
overflow: hidden;
/*margin-left: 3mm;*/
font-size: 0.8rem;
font-weight: 400;
font-family: var(--font);
color: var(--text-color);
width: 9cm;
}
input[type=file] {
width: 8cm;
height: 4.7cm;
}
#sub_title{
font-size: 1.5em;
font-weight: 700;
text-align: center;
margin-bottom: 2mm;
margin-top: 0;
}

.table {
  display: table;
  width: 100%;
}

.tr {
  display: table-row;
  height: 6mm;
 /* font-size: 0.9em;*/
  font-weight: 600;
 /* font-size: 0.9em;*/
}
 .table .tr.thead .td {
  padding: 5px 0;
  background: #444;
  color: white;
  font-weight: 700;
 /* font-size: 0.85em;*/
}


/* .tr input {
  border: 1px solid #444;
  width: 100%;
} */
.tr.thead {
  display: table-header-group;
  height: 6mm;
  text-align: center;
}
.td {
  display: table-cell;
  vertical-align: middle;
}